@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive;;
}

p{
    margin: 0;
}

.navi  {
    background-color: #30475E;
}

.nav-right{
    display: flex;
}

.nav-button{
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.2rem;
}

.navbar-brand{
    font-size: 2rem;
}

.bi-house-door-fill{
    font-size: 2rem;
}

.btn-primary{
    padding-right: 20px;
    padding-left: 20px;
    background-color: #30475E;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-secondary{
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F5F5F5;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-title{
    font-weight: bold;
}

.profile{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.display-name {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    
}

.invisible-button{
    display: none;
}

.leaderboard-con{
    width: 60%;
}

.leaderboard {
    width: 100%;
}

.leaderboard tbody{
    height: 200px;
    overflow-y: auto;
    
    display:block;
    width: 100%;
}

tbody::-webkit-scrollbar {
    display: none;
}

.leaderboard tr{
    display: flex;
    flex-wrap: wrap;
}

.leaderboard td{
    flex: 1;

}

.leaderboard th {
    flex: 1 1 calc(100% / 3);
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-menu {
    margin: 10px;
    background-color: white;
    border: 5px solid #30475E;
}


.cell{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    padding: 0;
}

.w-100{
    padding: 0;
    margin: 0;
    font-size: 2em;
}

.table-table{
    width: 50%;
    margin-bottom: 50px;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #636568;
}

.role{
    font-size: 4em;
    text-align: center;
}

.name_input{
    text-align: center;
    background-color: #F5F5F5;
    border: 2px solid black;
    font-weight: bold;
}


.btn-join, .btn-cancel-join-game{
    padding: 8px 0px;
    width: 40%;
    overflow: auto;
    font-size: 1em;
}

.signupform{
    display: flex;
    justify-content: center;
}

.btn-signup{
    font-size: 2em;
    width: 30%;
    font-weight: bold;
}

.signup_input{
    font-size: 2em;
    width: 100%;
}

@media all and (max-width:1200px) {

    .btn-signup{
        font-size: 1.5em;
        width: 50%;
    }

}

@media all and (max-width:768px) {

    .table-table{
        width: 60%;
        margin-bottom: 50px;
        
    }

    .btn-signup{
        font-size: 1em;
        width: 50%;
    }


}

@media all and (max-width:500px) {

    .role{
        font-size: 2em;
        text-align: center;
    }

    .btn-join, .btn-cancel-join-game{
        padding: 5px 5px;
        width: 60%;
        font-size: 00.8em;
    }

    .w-100{
        font-size: 1em;
    }

    .table-table{
        width: 100%;
        margin-bottom: 50px;
    }

    .cell{
        height: 30px;
        border: 1px solid black;
    }

    .name_input{
        font-size: 0.8em;
        padding-left: 0px;
        padding-right: 0px;
    }

    

    .signup_input{
        font-size: 1em;
        width: 100%;
    }

}




